<%- include('partials/head') %>
<%- include('partials/navbar') %>
<div class="container">
    <div class="row">
        <h1>Error page</h1>
        <h3><%= errorMsg %></h3>
        <a href="<%= route %>" class="btn btn-warning">Go Back</a>
    </div>
</div>

<%- include('partials/bottom') %>